.alertRoot {
  align-items: center;
}

.disabledContainer {
  opacity: 0.5;
  pointer-events: none;
}

.accordionItem {
  border-bottom: none;
}

.accordionControl {
  width: fit-content;
  gap: 10px;
}
