.alertRoot {
  align-items: center;
}

.disabledContainer {
  opacity: 0.5;
  pointer-events: none;
}

.accordionItem {
  border-bottom: none;
}

.accordionControl {
  width: fit-content;
  gap: 10px;
  padding: 0;
}

.accordionControlLabel {
  padding: 0;
}

.accordionContent {
  padding-left: 0;
}

.accordionChevron {
  width: 20px;
  height: 20px;
}

.form {
  width: 80%;

  @media (min-width: 1280px) {
    width: 72%;
  }

  @media (min-width: 1728px) {
    width: 1000px;
  }
}

.radio {
  outline: 2px solid var(--mantine-color-elv-neutral-2);
}

.radioSelected {
  outline: 2px solid var(--mantine-color-elv-blue-3);
}

.textInput {
  color: var(--mantine-color-elv-gray-9);

  &::placeholder {
    color: var(--mantine-color-elv-gray-6);
    font-size: 14px;
    font-weight: 500;
  }
}
