.row {
  overflow-x: auto;
  flex-wrap: nowrap;
  user-select: none;
  scrollbar-width: none;
}

.row::-webkit-scrollbar {
  display: none;
}

.pill {
  flex-shrink: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  background-color: transparent;
  color: var(--mantine-color-elv-gray-7);
  border: 1px solid var(--mantine-color-elv-gray-3);
}

.pillRemove {
  line-height: var(--pill-height);
}

.pillSelected {
  flex-shrink: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  background-color: var(--mantine-color-elv-blue-0);
  color: var(--mantine-color-elv-gray-9);
  border: 1px solid var(--mantine-color-elv-blue-0);
}
