@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/inter-500.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/inter-600.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/inter-700.woff2") format("woff2");
}

:root {
  --mantine-font-family: Inter, Helvetica Neue, helvetica, sans-serif;
}

body {
  font-family: Inter, Helvetica Neue, helvetica, sans-serif;
}

.mantine-TextInput-input::placeholder,
.mantine-Textarea-input::placeholder,
.mantine-Select-input::placeholder {
  color: var(--mantine-color-elv-gray-6);
  font-size: 14px;
  font-weight: 500;
}

.mantine-Radio-radio {
  outline-color: var(--mantine-color-elv-neutral-2);
}

.mantine-Table-th.no-border-end {
  border-inline-end: none;
}
