.root {
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 2px;

  &:where([data-active]) {
    font-weight: 500;
  }

  &:hover {
    background-color: var(--mantine-color-elv-gray-4);
  }
}

.section {
  margin: 0 !important;
  color: var(--mantine-color-elv-gray-7);
}

.label {
  font-size: 16px;
  color: var(--mantine-color-elv-gray-7);
}

.body {
  display: none;
}
